:root{
    --t_gray:#464646;
    --t_gray_d:#343434;
    --t_purple:#AC13E5;
    --t_blue:#16A3E2;
    --t_green:#13F49D;
}

/* repeated classes  */
a,a:hover.a:active,a:focus{
    color: white !important;
    text-decoration: none !important;
    border: none;
    outline: none;
}

body{
    font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.bodyAppCtrl{
    background-color: var(--t_gray);
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* estilos del modal  */

.modal-header{
    background-color: var(--t_gray_d);
    color: white;
    border-color: var(--t_gray) !important;
    border-radius: 8px 8px 0px 0px !important;
}

.modal-title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px !important;
    padding-top: 4px;
}

.modal-body,.modal-footer,.modal-dialog{
    background-color: var(--t_gray_d);
    color: white;
    border-color: var(--t_gray) !important;
}

.modal-content,.modal-dialog{
    border-radius: 8px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,.7);
}

.modal-footer{
    border-radius: 0px 0px 8px 8px !important;
}

.btnScndCtrl{
    color: white;
    background-color: black;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    border: solid var(--t_gray) 2px;
    border-radius: 40px;
    font-size: 14px;
    padding-right: 23px;
    padding-left: 23px;
    transition: all ease-in-out.5s;
}

.btnPmryCtrl{
    background-color: black;
    color: white;
    border: var(--t_green) solid 2px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    font-weight: 100;
    font-size: 14px;
    padding-right: 23px;
    padding-left: 23px;
    transition: all ease-in-out.5s;
}

.btnPmryCtrl:hover{
    background-color: var(--t_green);
    border: solid black 2px;
    color: black !important;
}

